<div class="form" style="width:500px;margin:20px auto;">

  <h6>{{#_}}Change Password{{/_}}</h6>
  <div id="frmChangePassword" class="content" >
    <form onsubmit="ChangePassword();return false;">
    <p>
    	<label for="txtOldPassword" class="desc">{{#_}}Old Password{{/_}}</label>
    	<input type="password" class="text field large" name="OldPassword" id="txtOldPassword"  />
    </p>
    <p>
        <label for="txtNewPassword" class="desc">{{#_}}New Password{{/_}}</label>
    	<input type="password" class="text field large" name="NewPassword" id="txtNewPassword" />
	</p>
    <p>
        <label for="txtRepPassword" class="desc">{{#_}}Repeat Password{{/_}}</label>
    	<input type="password" class="text field large" name="RepPassword" id="txtRepPassword" />
    </p>
    <p>
        <label class="desc"></label>
      <button id="btnEditPassword"  class="ui-button btn-danger " >
      	<span class="ui-text">{{#_}}Change{{/_}}</span><span class="ui-icon ui-icon-unlocked"></span>
      </button>
    </p>
    </form>
  </div>
</div>

 
