<script type="text/javascript">
function ConfirmPurchase(id,sender)
{
    $.getJSON('/confirm/purchse.confirm',{'id':id},
        function(response){
            if(response.result == 'OK')
                $(sender)
                    .parent()
                    .parent()
                    .fadeOut()
        }
    );
}
function PurchaseDetails(id){
     $.get('confirm/purchase.details',{'id':id},function(response){
        ModalDialog(response,{width:960,height:400});
    });
}
</script>
<div class="form">
    <h6 >{{#_}}Confirm Purchases{{/_}}</h6>
    <div class="content">
        <p>
            <table class="data-table">
                <thead>
                    <th>{{#_}}Purchase No{{/_}}</th>
                    <th>{{#_}}Purchase Date{{/_}}</th>
                    <th>{{#_}}Storage Name{{/_}}</th>
                    <th>{{#_}}Supplier Name{{/_}}</th>
                    <th>{{#_}}Purchase Amount{{/_}}</th>
                    <th>{{#_}}Details{{/_}}</th>
                    <th>{{#_}}Confirm{{/_}}</th>
                </thead>
                <tbody id="grdPurchases">
                {{#purchases}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{date}}</td>
                        <td>{{storage.name}}</td>
                        <td>{{supplier.name}}</td>
                        <td>{{amount_string}}</td>

                        <td class="center" width="70px">
                            <a href="#" onclick="PurchaseDetails({{id}})">
                                <span class="fa fa-th-list"></span>
                                {{#_}}Details{{/_}}
                            </a>
                        </td>

                        <td class="center" width="70px">
                            <a href="#" onclick="ConfirmPurchase({{id}},this)">
                                <span class="fa fa-check" ></span>
                                {{#_}}Confirm{{/_}}
                            </a>
                        </td>

                    </tr>
                {{/purchases}}
                </tbody>
            </table>
        </p>
    </div>
</div>