<!doctype html>
<html lang="fa" >
<head>
	<meta charset="utf-8">
	<title>Samal Web App Server / Security Wall</title>
  <style>#main {width:960px;display:block;margin:250px auto;}h1 img{float:left;}h1 span{font-size:72pt;padding:15px;color:black;color:red;}</style>
</head>
<body>
  <div id="main">
    <h1>
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAIAAABMXPacAAAACXBIWXMAAG66AABuugHW3rEXAAAR
IUlEQVR4nO2de3gU1dnA3zO3zSaE3NiJogZy21wBtVYfBaxVUdRWrTeu9rOPTwUlJFiVArVaBaWf
n3LVugGLgoDST7OIBhUNCQQjSGu5qFxEEVQue81uNruzczvfH0MoSrLJzM7uTPz2918yM+d99/3N
nD2zM2cGHYYSSGEchNEJ/H8nJcBgUgIMJiXAYFICDCYlwGBSAgwmJcBgUgIMJiXAYFICDIYyOgHN
YAAZgwwACAgAAgAZnZIW+pEADIAxSAASAEZgIc89l8zPAwDppFc6fgIDB4AASAQkAOovPswsQNnH
JTi1m1tI2yBqyGC6opi+qJIZXs5UlpJsLgBILh//xZf8nv3Cv78Q9n0lHjkmub0YOAAAIBCQZj4+
kJl+jsYYZAARQAYgEGkl2Tyq8AK6ssRyYQU9vIwuGUKyeUCSsdqQJMnlFQ4dEfYciO7aJ3xxSDz8
reTyYimiNAtAITP5MFaA0okr+zhJWAaQ59qo4gJmWBkzooKuKqWHnkcMygEUR7Ewlj1+4Zvvhc+/
5Hfv4/ceEL86Kh13y9EQgARAAJBdXyHGkEwBP+jEAWgiI5M67xy6vJCuLmNGlNMVJVTBuURWZkKT
kAMd4tHjwr5D/O79wmcHhP2Hxe9PyJ0dAIIhXyEJFXBmxQEBQ2RlUQWD6Yoi5sIKurqMLiukzj8H
pVsTlkAfUgxHxO9OCAcOC58d4HftE/Z9LR49JgcCGHgASIIPfQWc/tqUAAiELOSgXKrwfLqyhBlR
wQyzU8UF5GAWMYx+EXUG87x0zCV+dZTfe5DfrXyFfCd5fBhHlX5S96903QRgEAnKQrB5dMkQutrO
jKhgqkqoogtIdhCQ/fZ0T5Ill0f8+lv+80P87n3CZweFQ0dkl1cWo0inAaQ+AjBIOY/PSL/5Gqpg
MDEoJ/4GTYvs8YtHj4U3NPmfWIQg5nisb+i1b2Lr2CuZi6t+2tUHAGJQDnNxlXXslQBYnwZ1aQUA
cJTXqynzo+OH7be980+FlACDSQkwmJQAg0kJMJiUAIMxXoD4zfeA9RlTq0aSjYl7BgYLiLzfeuyK
WwJPvZj80IGnHSdvnSK3B5Mf+kyMvCIWeb/VPaFW8nv9jz0LNJX1x/uSFjr43N/9jz6DMeeeINle
W0RkD0xa6B9h2BEQeW+re8J0ye9HYAGM/LPnB/57eXJCBxes8M18GjBCkBF+b5N7XJ3sDyQn9NkY
IyDy7lb3hFrJ346APpUGJvyz5weeSbiD4MKXfQ/PAxmUz47AGt70gXt8newzxoEBAiIbt7gnTpfa
T1e/KxOM/LPmB579e+JCBxe94nt4HmB05gdHYA1v+tA1vtYQB8kWEGlscU+sldoDP6x+VzIY+Wc+
FXwuIQ6Ci1f6Hpp7et8/EwTWyAdNrrumy972RISOQVIFRN5pdk2qkwLB7qrflQ9GvkeeCi5YoW/o
4OKVvoee7Lb6CgiskabNrjtrZI9f39CxSZ6AyDvN7sl1ciDY27UkxcG84MKX9QodXLrK99CTIEHs
z4vAGmlucd1ZI3l8eoXulSQJCG/Y7JpUJwU6+nYljwAZ+R6eG1z0Svyhg0tf9T34RK/VV0BgjbRs
cd9RI7mT5CAZArjNH7vHT8PBPlZfgQAZ+R6aG1y0Mp7QHS+u9T34lz5WXwGBNbKl1XXLFOmEO57Q
fSQZAsjzzqFKCzGIKrcjQAbfw08GF2t00LF8nbf2MVXV7wLJ/gDmBW1xVZEMAXRZYf76ZcyIEV33
a/YdAiTwPfRkcMkqtUFDL/3D+8CfQJTVfkYMUaa6in37JapgsNqgGkjSdwBVeH5+w4sWzQ7+8ERw
6at93ya04g3Pqeqru3EBQ5SpqmSdDrqkQGWeGkneKIgquoBteNEyfDiGqMpNCZDA9+Bfgn9b05e1
Qyve8EydDYKkpfqVlfnOerpkiMoMtZPU8wDFATOsWuNxUPd4x/J/xF4v9EqD5/45mqrPMRUVrNNB
lSav+pD8M2GquCDf6WCqh2lxIMreaXM6XvrfntYIrXJ6pswCXtSy71dUsOsdtH2oyqzixYDfgqji
AtbpYKo0HAckCLL3gTmhFW+cvSz06lue+7RWv7ycddbT9kKV+eiAMb+G0iUF+U4HU1Wl/vuABEHy
TJ0devkHDkKrN3h+PxOigpbql5Wxznq6zIDqg4HXA6jSIazTwVRWanUwJ/RKg/J359q3NVefLitj
nQ663Jjqg7FXxOjSoazT4br1Pn7ffgQWNZuSwIueKbMQQwNNee6dCRyvpfp2e77TQVcUq9pQXwye
pEfbh7LOetdvpmh0cM8fASHMR7VUv7Q031lvbPXB8IvyAECXFbINDqa8XENfhAVea/VL2PX1dKXB
1QczCAAAuryIdTqY8jL1DlRPHsIQpUtKWGc9U2mK6aGmEACKgwYHY7erd6ACDFG6pJh11jNVpYmL
ogqzCAAAuqKYdTpoe2mCHGCI0sVFbEM9U22W6oOpBAAAXVmS76ynS/V3gCFKFxWxzmXMMLu+LceJ
uQTAKQcOuqRERwcYeLqwkHXWm636YEIBAEBXleY7HXRJsS4OMPD00CFsQz0zvCz+1nTHjAIAgK62
5zvr6eKirgnTGsHA00MKWKeDubBcr9z0xaQCAICutrPOZUy5XZlorwnp1Jjnwko9M9MV8woAAGaY
feADv8VaBWCQBt5/N3OReasPJhcQeafZ/8RCzXPSEVDt8xaH32rSNyt9Ma+ASGOLa/IMyeuPI0lC
8gfcd88IbzCvA5MKiGzc4urTbXS9gICSO0JmdmBGAZF3t7gm1crt8VZfAQElB0Puux8Mv90cf2u6
YzoBkfe2uifW6VV9BQSUHOxw310XfqdFrzb1wlwCIu+3uifWSe0BHauvgICSAx3uyXWRxhZ9W44T
EwnomjLWrnv1FRBQciDomlwX2bglEe1rwywCIps+Smj1FRBQcnvQNak28u7WxEVRhSkEcB+2dU3Y
U1t9We15suLAPbE28l6rylgJwXgB3IdtrvE1ks/X87SZ7sEgEnl5BGvDoO42ZgSU1B5wT6yNvG+8
A4MFcE0fu8ZPl7waqi+QeTnsm8/nv72czGe1OPD73RNqI5s+UrWh7hgpgNu83TW+RvJ6NVU/l31t
adovLrVcOjz/TQep5TigJb/fPaGG+8BIB4YJ4Jq3u8ZNkzyaqp+bY3ttadqYkcp/LCMvzn/TQdoG
aXHg87vGT4982KZqQx3RT4CaB25wLTtc42riqb61q/oKllE/Y990kLY8TQ587vE1XNPHavLQ7eki
egmQpJOePq7KtXziumua5PZoqX5Ojm3tEut1o85emjb6Eva158m8XC0OvD7XuBpuc18dSCc9cVyl
+AF6CZD53fv7sh639Z+ucZqrn21bu9h6/eie1km75nLb68+TudoceF3jarjN2/uyPr97v/JQ/fjR
SwAZbfu01wMz2vZv1533Sy63hhEnmZ1tW7vEOvbK2Gtar73C9vpSMjdHiwOP1zWuhmvuzQHG0bZP
1d6O1xP6CEBA8bv2iUePx1gnun236/apmqovENkDbWsW91p9BeuYkbbXNDvwuMbVcC07YqwmHj3O
79qn1xm7XkcAIQU8XFOPY4nojt2u26aIJ05oOdvKymJXL7He+Iu+b2W9bpRt7VIyR5MDt8d11zSu
5ZOe1uGa2qSAR6/S6TkM7Vy3sdteSDxyzHXLVPH4MQTqnpuOQSSyBtrWLLbepKL6CtbrR9nWLiFy
sjU6uH1KtO3T7nLCnes2qk0mBroJQMBwrTv4PQfOXkTacjPG3wQAKp+3LBIDM22rF6XfdJW2lKxj
R7NrlhDZWWodAMhEdhbKzDh7Ab/nANe6Q+2eFANyBuTq1BTCYgiRlvQbr/rxApqyXj8ah3ju4+1d
70PoFRFlDrCtWZz+66vjyYkuHWIZURlpbJG5cB8fdo4hythL899azlR3cxtd+7wXuLY2tR1pDHQU
AAhI8ctvMu68gcjNOmsZso4ZCZ0C17ajD+/QEVHmANvqxek3x1V9Bbp0KDO8ItzYDNFIr0c8hihT
ZmfXL6O7u3ld/Oqob/oTwIk6vsBBTwEASOYCwEP6r37Z3UJkHTMKIgL30faYDkSUOcD26sL0W67R
Ky26dKiluncHpybsrV/W07QZ/58WcNu26dj/gN4CAAElfH7Qet1o6rz8bhdbx4wETuzZgYgGZNhe
XZh+6xgdswIA2j6UGVYebtwMUa5bB6cmq66vp8uLum0hunOPb8ZcEHV+n4zOAgAQFsPiwW8zJt6M
enjhl/XakRCVuG0fn+VARAMybKsWpv9G5+or0PZCprp7BxiiTEWs6mNe8Pz2EeHQl7pfsNNdACCg
hCNfkzm5lssv6mkd67VXAC//0IGIMtJtqxam33advvmcCV1WyFTZw42bgf+PAwwcU1nJro81Vbhj
8crgslUqpxH2Cf0FAAACxG3/1HrtqO47IgAAsF5zBQiYa21DQABIKCPdtnJB+u3X657Mj6DLiphK
e7ixWXGAgWMqq9j1sabJR3fu9dw7E6JiIn69T4gAAAJHw/yOvRl33hDjNWHWay4HEbjWbUR6hm3l
gvQ7xiYgk26gy4uYitLwxmbMB5iqYez6erp0aE8ryx6/+45p4tGjOg49zyRBAgABKZ78Tjriyrjt
OiB63HGsV1+OEJ35u7syxt2YiDR6gi4vpksKpRNedu2SGNUHSfLcOzuyuRlBWoIySeyrDDFEcx79
Q/bcGYkLEQ+YFxATa79u//Mi/7wFiej6T5OoI0ABAclt204OyrNcOjxxUTTT0zhNoeOF1f45f0WY
Suh7JRMrAAABhsgHW6mCC5gLKxIZSGdCK53eaY9qeuCfOpJwUZ4AQfJOnd25ZkPiY+lD55oN3lMP
PUt4fRJ9BCgQIIqRxiZq8LkmnzAEAKEVb3inzMLqH36jjeQIAAACJDG8sYkYMCDGCZrhBBes8NY9
ruGRc5pJmgAAIEDG4U1bgBPSrroM9Tw2NQQsiu1znvM/9hySUdKqD8kVAAAIAeI+ahMPfmu9+gpk
TdTgWi2yL+C9d3aw/hUEdJJvVkv+bogQpIXWNZwce4+w92DSo3eDsPfgybH3hNY1IEhL2pvMT2NM
P4Agjdv5r+NjJneuazQkgdN0rms8PmYyt/NfiTvXjU2Su6D/gICSO0Phhvfk9g7LyJ8hS7Lfcy53
dPpnPeOfOV8Odep7jUUVhgkAAAQEYOC2b+eaPmGGl1Hnn5O00NEdu9wTZnS++RbCtC4vxtaMkQIA
AAAhoMXvv+18vREEwXLJ8Ng/zsQPDoUD8//mnfqoePiwIZ3+j0jsj3FqkDHwaZf9POd/5qSNviRB
MbjWf/ofeZrbsRMBY/jkFAXzCAAAwMAT1ozMqZOyZk0l2TwdW5Zc3sBfHR2ONXLEyB7/bMwlAAAA
ZAxRutSePXtaxuRbEB3vNVgsiJ2r32qf/4Lw5UEEFpPs+KcxoQAAAAwiALZePSr7z9PTrrpMcztc
y472uUsjm7cBoIROgNWMSQUoYIgi2ppxxw1ZD/+eubhK1bb8p58Hnl3e+ca7WIgk9IpKnJhaAAAA
YAxRIiMrY/yvBtb+ri/PfeP3HAguebnz9XfkzgACi+HjnNiYX4CCjIEnBuQMmPjrzPsn9fQIMn7X
Fx0vrgmtfVsO+c0zzolNfxGgIGPgifSB6beOyZwyKW30z0/t3Bi41p0d9WvC6z+Qw8H+UnqF/iVA
QcbAI9Ka9otLB07/LwAILl3JbfkES5H+VXqF/ihAAWPglXt1MAgIGJP39T1hxpFZ30AILMqMDzMP
cnql/wpQ6Jd7/Zn0sx7zp0dKgMGkBBhMSoDBpAQYTEqAwaQEGExKgMGkBBhMSoDBpAQYzP8B0Nr2
Oygtkg8AAAAASUVORK5CYII=" /> 
      <span>Access Forbidden</span>
    </h1>
  </div>
</body>
</html>	