@media screen {
   #XK {
    width:29.7cm !important;
    padding:0 4px;
/*
    left:-50%;
    -webkit-transform:scale(.7) ;                                                                      
    -moz-transform:scale(.7);
*/
   }
   
     

}
