/* reset*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding:0;border: 0;font: inherit;vertical-align:baseline;}
html,*{font-family:'Rudaw'}
html,page {font-size:.8em;line-height:1em;}
#dpi {height: 1in;left: -100%;position: absolute;top: -100%;width: 1in;}
/* print */
@page {
    size: A4;
    margin:0;
}

@media print{
    #toolbar,#modal-back,#modal-container{display:none}
    body{
        padding:0 !important;
        margin:0 !important;
        outline:0 !important;
        overflow:visible;
        font-size:5mm !important;
    }
    .page{
        margin:0 !important;
        padding:0 !important;
        outline:0 !important;
    }
    a {text-decoration:none;color:#000}
}
/* screen */
@media screen{
    #toolbar,.toolbar{
        display:block;
        background: #4c4e5a;
        background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
        background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
        background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
        background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
        background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
        position:fixed;
        top:0;left:0;right:0;
        border-bottom:solid 1px #444;
        padding:5px;
        z-index:100000;
        height:6mm;
    }
    .toolbar {position:static;color:#fff;font-size:14px;padding:10px 0 0 0;}

    #modal-back{
      display: none;
      position: fixed;
      top: 0 !important;
      right: 0 !important;
      bottom: 0 !important;
      left: 0 !important;
      background:rgba(0,0,0,.7);
      z-index: 10000000 !important;
    }

    #modal-container{
      position: fixed;
      background: #fff;
      top:50%;
      left: 50%;
      border-radius: 3px;
      font-size:12px;
      box-shadow:0 0 10px #333;
    }
    #modal-container .toolbar{
        border-radius:2px 2px 0 0;
    }
    #modal-container .form{
        box-shadow:none;
        -webkit-box-shadow:none;
        border:none;
    }
    #modal-container .form p {
        margin:5px 0;
    }
    #modal-container p.bottom{
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      padding: 5px 10px;
      border-radius: 0 0 5px 5px;
      border-top: none;
    }
    #modal-container .btn {
        padding:7px 17px;
    }
    #modal-container p.indent {
      padding-right: 127px;
    }

    page{
        border:solid thin black;
    }
    body{
        padding-top:10mm;
        /*

        */
        background-color:#22728B;

        background-image:
            linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
            linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px),
            linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
            linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
        background-size:50px 50px, 50px 50px, 10px 10px, 10px 10px;
        background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
    }
}
/* common */
#options {
    display:none;
}

body{
    display:block;
    font-size:5mm;
    overflow-y:auto;
    overflow-x:hidden;
    text-align:center;
}

page {
    text-align:left;
    margin:.5em;
    background:white;
    display:inline-block;
    position:relative;
    padding:0 !important;
    overflow:hidden;
    width:42em;
    height:59.4em;
}


.ReprotHeader{
    text-align:center;
    padding:2.3em 1.2em .4em 1.2em;
}
h1{
    font-size:1em;
    line-height:1em;
    height:1em;
}

img.logo {
    height:3em;
    display:block;
    margin:0 auto .2em auto;
}

.rep-table {
    width:40em;
    margin:1em;
}
.rep-table td,.rep-table th{
    border:solid thin black;
    border-bottom:none;
    border-left:none;
    padding:.2em .5em !important;
    vertical-align:middle;
}
.rep-table tr td:last-child ,
.rep-table tr th:last-child{
    border-left:solid thin black;
}
.rep-table tr:last-child td,
.rep-table tr:last-child th{
    border-bottom:solid thin black;
}
.rep-table thead tr:first-child th{
    border-top:solid thin black;
}
.rep-table .top-none td{
    border-top:none;
}
.rep-table .bottom-none td{
    border-bottom:none;
}
.rep-table thead tr:last-child th{
    border-bottom:none;
}
.rep-table tfoot tr:first-child td{
    border-top:none;
}
.rep-table thead td,
.rep-table thead th{
    background:#7cf;

}
.rep-table tr:nth-type(odd) td{
    background:#e6e6e6;
}
.rep-table tr th:first-child{
    border-right:solid thin black;
}
.rep-table.alt tbody tr:nth-child(even){
    background:#efefef;
}